:root {
  --container-margin: 120px;
  --title-size: 2.60416vw;
  --devider-height: 160px;
}
$container-margin: var(--container-margin);
$accent-color: #fde82b;
$blue: #04bee0;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display';
  color: #fff;
  scroll-behavior: smooth;
}
body {
  background-color: #0f011f;
  scroll-behavior: smooth;
  // overflow: hidden;
}

.lock {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
button {
  outline: none;
  cursor: pointer;
}
a {
  color: #fff;
  outline: none;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  @include container();
}

@media screen and (max-width: 1440px) {
  :root {
    --container-margin: 90px;
    // --title-size: 38px;
    --devider-height: 120px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    // --title-size: 25.4px;
    --devider-height: 80px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --container-margin: 20px;
    --devider-height: 40px;
    --title-size: 22px;
  }
}
