.section_first {
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-position: center;
}
.header_burger {
  display: none;
}
.section_first__container {
  display: flex;
  flex-direction: column;
}
.section_first_content_container {
  width: 100%;
  padding: 0 $container-margin;
}
.header {
  @include container();
  position: fixed;
  z-index: 99;
  // left: 50%;
  top: 66px;
  width: calc(100vw - $container-margin * 2);
  border: 1px solid #fff;
  height: 128px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;
  &.blured {
    background-color: rgba(63, 63, 63, 0.25);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
  }
}
.header__logo {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
}
.header__nav {
  flex-grow: 1;
  padding: 53px 0;
  padding-left: 4.69vw;
  display: flex;
  align-items: center;
}
.header__nav_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.header__nav_link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: calc(1.3vw);
  line-height: 21px;

  color: #ffffff;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $accent-color;
  }
}
.header__nav_link {
  white-space: nowrap;
}
.header__get_ticket {
  display: flex;
  align-items: center;
  padding: 0 5.3vw;
}
.header__social {
  display: flex;
  gap: 42px;
  padding: 0 2vw;
  // padding-right: 50px;
  align-items: center;
}
.header__social_item {
  display: flex;
  path {
    transition: fill 0.2s ease-in-out;
  }
  &:hover path {
    fill: $accent-color;
  }
}
.section_first__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 193px;
}
.section_first__content_top {
  display: flex;
  justify-content: flex-end;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}
.content_top_wrapper {
  display: flex;
  border: 1px solid #fff;
  border-top: none;
  // border-top: none;
  &.border-top {
    border-top: 1px solid #fff;
  }
}
.content_top_wrapper_item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 2.89vw;
  line-height: 150%;

  /* identical to box height */
  text-transform: uppercase;

  color: #ffffff;
  padding: 17.25px 24.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
  &:last-child {
    border-right: none;
  }
}
.section_first__content_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  gap: 14px;
}
.section_first_main_title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 201px;
  line-height: 120%;
}
.section_first_subscription {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: 43px;
  line-height: 120%;
  max-width: 264px;
}
.section_first__content_bottom {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
.running_string__container {
  margin-top: 113px;
  overflow: hidden;
  max-width: 100%;
}
.running_string__wrapper {
  // padding: 37px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.running_string__inner,
.running_string__inner_clone {
  transform: translate(100%, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.running_string__inner {
  animation: marquee 32s infinite linear forwards;
  position: absolute;
}
.running_string__inner_clone {
  animation: 32s marquee 16s infinite linear forwards;
}
.running_string__item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 120%;
  color: $accent-color;
  position: relative;
  white-space: nowrap;
  padding: 0 28px;
  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 2px;
    background-color: $accent-color;
    right: 0;
    top: calc(50% + 2px);
    transform: translateY(-50%) translateX(50%);
  }
  &:last-child::after {
    display: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@mixin get_ticket_btns($border) {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  background-color: transparent;
  color: $accent-color;
  border: $border solid $accent-color;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    background-color: $accent-color;
    color: #0f0121;
    path {
      // fill: #0f0121;
      stroke: #0f0121;
    }
  }
  path {
    transition: 0.3s ease-in-out stroke;
  }
}
@mixin get_ticket_btns_filled($border) {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  background-color: $accent-color;
  color: #000;
  border: $border solid $accent-color;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $accent-color;
    path {
      // fill: #0f0121;
      stroke: $accent-color;
    }
  }
  path {
    transition: 0.3s ease-in-out stroke;
  }
}
.get_ticket_btn {
  @include get_ticket_btns_filled(1px);
  font-size: 21px;
  line-height: 25px;
  padding: 8px 14px;
}
.get_ticket_big_btn {
  @include get_ticket_btns(2.3553px);
  font-size: 49.4621px;
  line-height: 112%;
  padding: 18.8427px 32.9747px;
}
.section_first__bottom {
  background: linear-gradient(180deg, rgba(15, 1, 31, 0) 0%, #0f011f 100%);
  padding-bottom: 110px;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 96px;
    top: 50px;
  }
  .header__logo {
    padding: 19px;
    // width: 75px;
    // height: 59px;
    .header__logo_img {
      width: 75px;
      height: 59px;
    }
  }
  .header__nav {
    padding: 39px 0;
    padding-left: 4vw;
  }
  .header__nav_link {
    font-size: 16px;
  }
  .get_ticket_btn {
    padding: 5.996px 10.493px;
    font-size: 16px;
  }
  .header__social {
    gap: 31px;
    padding-left: 0;
    svg {
      width: 21px;
      height: 21px;
    }
  }
  .section_first__content {
    padding-top: 146px;
  }
  .section_first__content_middle {
    margin-top: 50px;
  }
  .section_first_main_title {
    font-size: 152.557px;
  }
  .section_first_subscription {
    font-size: 32.637px;
    max-width: 201px;
  }
  .section_first__content_bottom {
    margin-top: 48px;
  }
  .get_ticket_big_btn {
    @include get_ticket_btns(1.77px);
    padding: 14.301px 25.028px;
    font-size: 37.541px;

    svg {
      width: 27px;
      height: 28px;
      margin-left: 10px;
    }
  }
  .running_string__container {
    margin-top: 86px;

    .running_string__item {
      font-size: 18.975px;

      &::after {
        height: 1px;
        top: calc(50% + 1px);
      }
    }
  }
  .section_first__bottom {
    padding-bottom: 83px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 64px;
    top: 35px;
  }
  .header__logo {
    padding: 12.5px;
    // width: 75px;
    // height: 59px;
    .header__logo_img {
      width: 50px;
      height: 40px;
    }
  }
  .header__nav {
    padding: 25px 0;
    padding-left: 4vw;
  }
  .header__nav_link {
    font-size: 10.536px;
  }
  .get_ticket_btn {
    padding: 4.014px 7.024px;
    font-size: 10.536px;
  }
  .header__social {
    gap: 21px;
    padding-left: 0;
    svg {
      width: 14.5px;
      height: 14.5px;
    }
  }
  .section_first__content {
    padding-top: 99px;
  }
  .section_first__content_middle {
    margin-top: 34px;
  }
  .section_first_main_title {
    font-size: 102.124px;
  }
  .section_first_subscription {
    font-size: 21.848px;
    max-width: 135px;
  }
  .section_first__content_bottom {
    margin-top: 32px;
  }
  .get_ticket_big_btn {
    @include get_ticket_btns(1.197px);
    padding: 9.574px 16.754px;
    font-size: 25.131px;

    svg {
      width: 18px;
      height: 19px;
      margin-left: 7px;
    }
  }
  .running_string__container {
    margin-top: 57px;

    .running_string__item {
      font-size: 12.702px;

      &::after {
        height: 1px;
        top: calc(50% + 1px);
      }
    }
  }
  .section_first__bottom {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 78px;
    top: 29px;
    border: none;
    width: 100%;
    padding: 0 $container-margin;
    margin: 0;
    &.blured {
      top: 0;
    }
  }
  .header_burger {
    display: block;
    cursor: pointer;
  }
  .header__nav,
  .header__get_ticket {
    display: none;
  }
  .header__logo {
    padding: 0;
    border: none;
    .header__logo_img {
      width: 46px;
      height: 37px;
    }
  }
  .header_burger {
    width: 23px;
    height: 18px;
  }
  .header__social {
    padding: 0;
    gap: 45px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
  .section_first__content {
    padding-top: 124px;
    padding-bottom: 0;
  }
  .section_first__content_top {
    justify-content: center;
  }
  .content_top_wrapper {
    border: 0.307px solid #fff;
  }
  .content_top_wrapper_item {
    font-size: 3.8vw;
    font-weight: 500;
    padding: 1.359vw 1.923vw;
    border-right: 0.307px solid #fff;

    &:last-child {
      border-right: none;
    }
  }
  .section_first__content_middle {
    margin-top: 33px;
  }
  .section_first_main_title {
    font-size: 97px;
  }
  .section_first_subscription {
    font-size: 21px;
    max-width: 130px;
  }
  .section_first__content_bottom {
    margin-top: 25px;
  }
  .running_string__container {
    margin-top: 45px;
  }
}
