.section_how {
  padding-top: 240px;
  padding-bottom: 80px;
  @include with-devider();
}
.section_how_palm {
  position: absolute;
  left: 0;
  width: 25.05vw;
  top: -8%;
  z-index: 1;
}
.how_section_container {
  position: relative;
  z-index: 2;
}
.section_how_ellipse_pink,
.section_how_ellipse_blue {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.section_how_ellipse_pink {
  width: 48.07vw;
  height: 48.07vw;
  border-radius: 923px;
  background: rgba(255, 39, 174, 0.09);
  filter: blur(172.45010375976562px);
  left: 129px;
  top: 60%;
  transform: translateY(-50%);
}
.section_how_ellipse_blue {
  width: 64.53vw;
  height: 64.53vw;
  top: 25%;
  border-radius: 1239px;
  background: rgba(0, 170, 201, 0.12);
  filter: blur(231.49044799804688px);
  right: 0;
}
.how_section_title {
  @include section-title();
}
.how_carousel_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 119px;
}
.how_carousel_wrapper {
  position: relative;
  width: 497px;
  height: 1014px;
  margin: 0 auto;
  background-size: contain;
  background-position: center center;
  // padding: 134px 56px 85px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 127px;
}
.how_carousel_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.how_carousel_logo {
  width: 130px;
  height: 103px;
  position: relative;
  z-index: 1;
}
.how_carousel {
  margin: 107px 0;
  max-width: 379px;
  position: relative;
  right: -4px;

  .owl-dots {
    width: 100%;
    display: flex;
    gap: 11px;
    margin-top: 107px;
    justify-content: center;
    .owl-dot {
      width: 32.019px;
      height: 6px;
      flex-shrink: 0;
      border-radius: 47.242px;
      background: #030303;
      &.active {
        background-color: $accent-color;
        width: 83.732px;
      }
    }
  }
}
.how_carousel_btn_prev,
.how_carousel_btn_next {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  outline: none;
  border: none;
  background-color: transparent;
}
.how_carousel_btn_prev {
  left: -60%;
}
.how_carousel_btn_next {
  right: -76%;
}
.how_carousel_item {
  max-width: 379px;
  max-height: 464px;
}
.how_image_wrapper {
  position: relative;
  padding-top: 232px;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
  }
  .how_image_wrapper_bg {
    position: absolute;
    top: -22%;
    width: 100%;
  }
  .how_images {
    margin-top: 114px;
    display: flex;
    gap: 20px;

    img {
      width: calc(50% - 10px);
    }
  }
}

@media screen and (max-width: 1440px) {
  .section_how {
    padding-top: 180px;
    padding-bottom: 60px;
  }
  .section_how_palm {
    top: -4%;
  }
  .how_carousel_container {
    margin-top: 97px;
  }
  .how_carousel_wrapper,
  .how_carousel_bg {
    width: 385px;
    height: 770px;
  }
  .how_carousel_wrapper {
    padding-top: 70px;
  }
  .how_carousel_logo {
    width: 97px;
    height: 78px;
  }
  .how_carousel {
    margin-top: 82px;
  }
  .how_carousel,
  .how_carousel_item {
    max-width: 288px;
    max-height: 352px;
  }
  .how_carousel {
    right: 0;

    .owl-dots {
      margin-top: 81px;
    }
  }
  .how_carousel_btn_prev,
  .how_carousel_btn_prev svg,
  .how_carousel_btn_next,
  .how_carousel_btn_next svg {
    width: 57px;
  }
  .how_carousel_btn_prev {
    left: -50%;
  }
  .how_carousel_btn_next {
    right: -70%;
  }
  .how_image_wrapper {
    padding-top: 180px;

    .how_images {
      margin-top: 90px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .how_image_wrapper {
    padding-top: 150px;
  }
  .how_image_wrapper {
    .how_image_wrapper_bg {
      top: -15%;
    }
  }
  .section_how {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .section_how_palm {
    top: -4%;
  }
  .how_carousel_container {
    margin-top: 61px;
  }
  .how_carousel_wrapper,
  .how_carousel_bg {
    width: 253px;
    height: 515px;
  }
  .how_carousel_wrapper {
    padding-top: 68px;
  }
  .how_carousel_logo {
    width: 66px;
    height: 52px;
  }
  .how_carousel {
    margin-top: 55px;
  }
  .how_carousel,
  .how_carousel_item {
    max-width: 193px;
    max-height: 236px;
  }
  .how_carousel {
    right: 0;

    .owl-dots {
      margin-top: 53px;
      gap: 5px;
      .owl-dot {
        width: 16px;
        height: 3px;
        border-radius: 24.003px;
        &.active {
          width: 43px;
        }
      }
    }
  }
  .how_carousel_btn_prev,
  .how_carousel_btn_prev svg,
  .how_carousel_btn_next,
  .how_carousel_btn_next svg {
    width: 38px;
  }
  .how_carousel_btn_prev {
    left: -50%;
  }
  .how_carousel_btn_next {
    right: -70%;
  }
  .how_image_wrapper {
    .how_images {
      margin-top: 60px;
      gap: 10px;
    }
  }
}
