.section_how {
  padding-top: 240px;
  padding-bottom: 80px;
  @include with-devider();
  z-index: 1;
  // overflow: hidden;
}
.section_how_palm {
  position: absolute;
  left: 0;
  width: 25.05vw;
  // top: -30%;
  top: -650px;
  z-index: 2;
}
.how_section_container {
  position: relative;
  z-index: 2;
}
.how_carousel_blur_bg {
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  width: 61.09vw;
}
.section_how_ellipse_pink {
  position: absolute;
  border-radius: 50%;
  z-index: 19;
}
.section_how_ellipse_pink {
  width: 48.07vw;
  height: 48.07vw;
  border-radius: 923px;
  background: rgba(255, 39, 174, 0.09);
  filter: blur(172.45010375976562px);
  left: -300px;
  top: 900px;
  // left: -20%;
  // top: 45%;
  transform: translateY(-50%);
}
.how_section_title {
  @include section-title();
}
.how_carousel_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 119px;
}
.how_carousel_wrapper {
  position: relative;
  margin: 0 auto;
  // padding: 134px 56px 85px 56px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}
.how_carousel_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.how_carousel_logo {
  width: 130px;
  height: 103px;
  position: relative;
  z-index: 1;
}
.how_carousel {
  max-width: 23.4375vw;
  position: relative;

  .owl-item {
    max-width: 23.4375vw;
    max-height: 100px;
  }
  .owl-item.active {
    max-height: none;
    height: auto;
  }
  .owl-dots {
    width: 100%;
    display: flex;
    gap: 11px;
    margin-top: 130px;
    justify-content: center;
    .owl-dot {
      width: 32.019px;
      height: 6px;
      flex-shrink: 0;
      border-radius: 47.242px;
      background: #030303;
      &.active {
        background-color: $accent-color;
        width: 83.732px;
      }
    }
  }
}
.how_carousel_btn_prev,
.how_carousel_btn_next {
  position: absolute;
  top: 200px;
  transform: translateX(-50%);
  outline: none;
  border: none;
  background-color: transparent;
}
.how_carousel_btn_prev {
  left: 0;
}
.how_carousel_btn_next {
  right: 0;
}
.how_carousel_item {
  max-width: 23.4375vw;
  height: auto;
}
.how_image_wrapper {
  position: relative;
  padding-top: 252px;
  z-index: 1;
  // overflow: hidden;

  .how_palm_bottom {
    position: absolute;
    width: 13.646vw;
    height: auto;
    right: 0;
    z-index: 9;
    top: -40%;
  }

  .how_image_wrapper_bg {
    position: absolute;
    top: -25%;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 10;
  }
  .how_videos {
    margin-top: 114px;
    display: flex;
    gap: 20px;
    iframe {
      width: calc(50% - 10px);
      height: calc((50vw - var(--container-margin) - 10px) * 0.5625);
    }
  }
}

@media screen and (max-width: 1440px) {
  .section_how {
    padding-top: 180px;
    padding-bottom: 60px;
  }
  .how_image_wrapper {
    .how_image_wrapper_bg {
      top: -33%;
    }
  }
  .section_how_palm {
    top: -600px;
  }
  .how_carousel_container {
    margin-top: 93px;
  }
  .how_carousel {
    .owl-dots {
      margin-top: 98px;
      gap: 7px;
      .owl-dot {
        width: 22px;
        height: 4px;
        border-radius: 33.136px;
        &.active {
          width: 58.73px;
        }
      }
    }
  }

  .how_carousel_btn_prev,
  .how_carousel_btn_prev svg,
  .how_carousel_btn_next,
  .how_carousel_btn_next svg {
    width: 57px;
  }
  .how_image_wrapper {
    padding-top: 180px;

    .how_videos {
      margin-top: 90px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .how_image_wrapper {
    padding-top: 150px;
  }
  .section_how {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .how_carousel_container {
    margin-top: 66px;
  }
  .section_how_palm {
    top: -450px;
  }
  .how_carousel {
    .owl-dots {
      margin-top: 66px;
      gap: 5px;
      .owl-dot {
        width: 16px;
        height: 3px;
        border-radius: 24.003px;
        &.active {
          width: 43px;
        }
      }
    }
  }
  .how_carousel_btn_prev,
  .how_carousel_btn_prev svg,
  .how_carousel_btn_next,
  .how_carousel_btn_next svg {
    width: 38px;
  }
  .how_image_wrapper {
    .how_videos {
      margin-top: 60px;
      gap: 10px;
      iframe {
        width: calc(50% - 5px);
        height: calc((50vw - var(--container-margin) - 5px) * 0.5625);
      }
    }
  }
}
