.mobile_menu {
  display: none;

  width: 100vw;
  min-height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  background-color: #0f011f;
  overflow-y: auto;
  overflow-x: hidden;
  &.opened {
    transform: translateX(0);
  }

  .header {
    position: static;

    .header__social {
      position: relative;
      left: -12px;
    }
  }

  .get_ticket_big_btn {
    margin-top: 49px;
  }
}
.mobile_menu_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding-top: 29px;
  overflow-x: hidden;
  padding-bottom: 55px;

  * {
    position: relative;
    z-index: 9;
  }
}
.mobile_menu_blue_circle {
  position: absolute;
  width: 387px;
  height: 391.665px;
  border-radius: 100%;
  background: rgba(0, 170, 201, 0.34);
  filter: blur(313.2405700683594px);
  bottom: -100px;
  left: -260px;
  z-index: 1 !important;
}
.mobile_menu_pink_circle {
  position: absolute;
  width: 450px;
  height: 450px;
  right: -230px;
  top: -50px;
  border-radius: 100%;
  background: rgba(255, 39, 174, 0.14);
  filter: blur(184.58755493164062px);
  z-index: 1 !important;
}
.mobile_menu_close_btn {
  margin-top: 50px;
  cursor: pointer;
}
.mobile_menu_title {
  @include section-title();
  text-transform: uppercase;
  margin-top: 56px;
  font-weight: 700;
}
.mobile_menu_nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 67px;
}
.mobile__nav_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.mobile__nav_link {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
  &:hover {
    color: $accent-color;
  }
}

@media screen and (max-width: 768px) {
  .mobile_menu {
    display: flex;
  }
}
