.section_program {
  @include with-devider();
  padding-top: 260px;
  padding-bottom: 120px;
  .container {
    position: relative;
    z-index: 2;
  }
  overflow: hidden;
  z-index: 2;
}
.section_program_bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 33%;
}

.section_program_ellipse_pink {
  position: absolute;
  right: 0;
  border-radius: 1413px;
  background: rgba(255, 39, 174, 0.09);
  filter: blur(264px);
  width: 73.59vw;
  height: 73.59vw;
  transform: translateX(50%);
  top: 30%;
  z-index: 1;
}
.section_program_title {
  @include section-title();
}
.section_program_undertitle {
  color: #fff;
  font-size: 25px;
  font-family: SF Pro Display;
  font-weight: 300;
  margin-top: 37px;
}
.section_program_program {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 90px;

  .program_item_date {
    color: #04bee0;
    font-size: 55px;
    font-family: SF Pro Display;
    font-weight: 500;
    margin-bottom: 38px;
    text-align: center;
  }

  .program_item_body {
    width: 100%;
    border-collapse: collapse;
    tr {
      transition: 0.3s ease-in-out background-color;
      &:hover {
        background-color: #40354d;
        color: $blue;
        td {
          background-color: #40354d;
          color: $blue;
          border-bottom: 1px solid $blue;
        }
      }
      // display: block;
      td {
        transition: 0.3s ease-in-out background-color, 0.3s ease-in-out color,
          0.3s ease-in-out border;
        padding: 62px 0 50px 0;
        border-bottom: 1px solid #fff;
        color: #fff;
        &:nth-child(1),
        &:nth-child(3) {
          font-size: 50px;
          font-family: SF Pro Display;
        }
        &:nth-child(1) {
          width: 14.1146vw;
        }
        &:nth-child(3) {
          width: 21.875vw;
        }
        &:nth-child(2) {
          font-size: 60px;
          font-family: SF Pro Display;
          width: 5.4166vw;
        }
        &:nth-child(4) {
          font-size: 25px;
          font-family: SF Pro Display;
          font-weight: 200;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .section_program_bg {
    top: 19%;
  }
}

@media screen and (max-width: 1440px) {
  .section_program {
    padding-top: 195px;
    padding-bottom: 90px;
  }
  .section_program_bg {
    top: 20%;
  }
  .section_program_undertitle {
    font-size: 19px;
    margin-top: 29px;
  }
  .section_program_program {
    margin-top: 67px;
  }
  .section_program_program {
    gap: 68px;
    .program_item_date {
      font-size: 41.745px;
      margin-bottom: 30px;
    }
    .program_item_body {
      width: 100%;
      border-collapse: collapse;
      tr {
        transition: 0.3s ease-in-out background-color;
        &:hover {
          background-color: #40354d;
          color: $blue;
          td {
            background-color: #40354d;
            color: $blue;
            border-bottom: 1px solid $blue;
          }
        }
        td {
          padding: 47px 0 40px 0;
          &:nth-child(1),
          &:nth-child(3) {
            font-size: 38px;
          }
          &:nth-child(2) {
            font-size: 45.539px;
          }
          &:nth-child(4) {
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_program {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  .section_program_bg {
    top: 13%;
  }
  .section_program_undertitle {
    font-size: 12.702px;
    margin-top: 20px;
  }
  .section_program_program {
    margin-top: 46px;
  }
  .section_program_program {
    gap: 46px;
    .program_item_date {
      font-size: 27.945px;
      margin-bottom: 26px;
    }
    .program_item_body {
      width: 100%;
      border-collapse: collapse;
      tr {
        transition: 0.3s ease-in-out background-color;
        &:hover {
          background-color: #40354d;
          color: $blue;
          td {
            background-color: #40354d;
            color: $blue;
            border-bottom: 1px solid $blue;
          }
        }
        td {
          padding: 32px 0 27px 0;
          &:nth-child(1),
          &:nth-child(3) {
            font-size: 25.404px;
          }
          &:nth-child(2) {
            font-size: 30.485px;
          }
          &:nth-child(4) {
            font-size: 12.702px;
          }
        }
      }
    }
  }
}
