.section_questions {
  position: relative;
  @include with-devider();
  padding-top: 250px;
  padding-bottom: 130px;
  // overflow: hidden;
}
.section_questions_palm {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22.6vw;
}
.section_questions_ellipse_blue {
  position: absolute;
  border-radius: 1380px;
  background: rgba(0, 170, 201, 0.12);
  filter: blur(264px);
  width: 71.875vw;
  height: 71.875vw;
  top: -50%;
}
.section_questions_title {
  @include section-title();
}
.section_questions_center {
  position: relative;
  z-index: 9;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.section_questions_email {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: SF Pro Display;
  font-weight: 300;
  margin-top: 59px;
}
.section_questions_social {
  display: flex;
  justify-content: center;
  gap: 72px;
  margin-top: 65px;

  svg {
    width: 49px;
    height: 49px;
  }
  a:hover path {
    fill: $accent-color;
  }
}
.section_questions_logo {
  width: 256px;
  height: 202px;
  margin-top: 79px;
}

@media screen and (max-width: 1440px) {
  .section_questions {
    padding-top: 283px;
    padding-bottom: 97px;
  }
  .section_questions_email {
    font-size: 30.36px;
    margin-top: 45px;
  }
  .section_questions_social {
    margin-top: 50px;
    svg {
      width: 37px;
      height: 37px;
    }
  }
  .section_questions_logo {
    width: 194px;
    height: 153px;
    margin-top: 61px;
  }
}

@media screen and (max-width: 1024px) {
  .section_questions {
    padding-top: 120px;
    padding-bottom: 66px;
  }
  .section_questions_email {
    font-size: 20.323px;
    margin-top: 30px;
  }
  .section_questions_social {
    margin-top: 34px;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .section_questions_logo {
    width: 130px;
    height: 102px;
    margin-top: 41px;
  }
}
