.section_sponsors {
  padding: 170px 0;
}
.sponsors_container {
  gap: 68px;
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.section_sponsors_title {
  @include section-title();
}
.sponsor_item {
  border: 1px solid #fff;
  position: relative;
  // width: 369px;
  height: 322px;

  .sponsor_item_name {
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: SF Pro Display;
    font-weight: 300;
  }
}

@media screen and (max-width: 1440px) {
  .section_sponsors {
    padding: 130px 0;
  }
  .sponsors_container {
    gap: 51px;
  }
  .sponsor_item {
    height: 240px;

    .sponsor_item_name {
      font-size: 15.18px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_sponsors {
    padding: 90px 0;
  }
  .sponsors_container {
    gap: 34px;
  }
  .sponsor_item {
    height: 161px;

    .sponsor_item_name {
      font-size: 10.162px;
    }
  }
}
