.section_tickets {
  @include with-devider();
  position: relative;
  padding-top: 280px;
  .container {
    position: relative;
    z-index: 2;
  }
  padding-bottom: 120px;
}
.section_tickets_palm {
  position: absolute;
  left: 0;
  width: 23vw;
  top: -60%;
  z-index: 1;
}
.tickets_container {
  display: flex;
  gap: 20px;
  margin-top: 136px;
}
.section_tickets_title {
  @include section-title();
}
.tickets_item {
  justify-content: space-between;
  padding-left: 34px;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  border: 1px solid #fff;
}
.tickets_item_title {
  text-transform: uppercase;
  color: #fff;
  font-size: 67px;
  font-family: SF Pro Display;
  font-weight: 500;
}
.tickets_item_services {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    color: #fff;
    font-size: 22px;
    font-family: SF Pro Display;
    font-weight: 300;
    line-height: 160%;
  }
}
.tickets_item_bottom {
  gap: 6.146vw;
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  .tickets_item_bottom_price {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 32.522px;
    font-family: SF Pro Display;
    font-weight: 300;
    text-transform: uppercase;
    span {
      font-weight: 700;
      font-size: 56px;
    }
  }
  .tickets_item_bottom_buy {
    // min-width: 50%;
    height: 136px;
    position: relative;
    right: -0.5px;
    bottom: -0.5px;
    flex-grow: 1;
    color: #000;
    padding-left: 62px;
    font-size: 32.522px;
    font-family: SF Pro Display;
    font-weight: 600;
    position: relative;
    background-color: $accent-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
    border-top: 1px solid #fff;
    &::before {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 8.85%;
      background-color: #fff;
      top: -0.5px;
      left: -8.85%;
    }

    &:hover {
      background-color: $blue;
    }
    .tickets_item_arrow {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .section_tickets_palm {
    top: -55%;
    // top: -85%;
  }
}
@media screen and (max-width: 1440px) {
  .section_tickets {
    padding-top: 210px;
    padding-bottom: 90px;
    .section_tickets_palm {
      // top: -80%;
    }
  }
  .section_tickets_palm {
    top: -70%;
  }
  .tickets_container {
    gap: 15px;
    margin-top: 102px;
  }
  .tickets_item {
    padding-top: 25.67px;
    padding-left: 25.67px;
  }
  .tickets_item_title {
    font-size: 50.214px;
  }
  .tickets_item_services {
    margin-top: 31px;
    gap: 8px;
    p {
      font-size: 16.488px;
      line-height: 157%;
    }
  }
  .tickets_item_bottom {
    margin-top: 40.5px;

    .tickets_item_bottom_buy {
      padding-left: 46.41px;
      font-size: 24.374px;

      height: 101px;

      .tickets_item_arrow {
        width: 26.66px;
        height: 35.55px;
        bottom: 16px;
        right: 16px;
      }
    }

    .tickets_item_bottom_price {
      font-size: 24.374px;
      gap: 6px;
      span {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_tickets {
    padding-top: 140px;
    padding-bottom: 60px;
    .section_tickets_palm {
      top: -75%;
    }
  }
  .tickets_container {
    gap: 9px;
    margin-top: 68px;
  }
  .tickets_item {
    padding-top: 17px;
    padding-left: 17px;
  }
  .tickets_item_title {
    font-size: 33.614px;
  }
  .tickets_item_services {
    margin-top: 21px;
    gap: 6px;
    p {
      font-size: 11.038px;
      line-height: 157%;
    }
  }
  .tickets_item_bottom {
    margin-top: 26px;

    .tickets_item_bottom_buy {
      padding-left: 31px;
      font-size: 16.317px;

      height: 68px;

      .tickets_item_arrow {
        width: 18px;
        height: 24px;
        bottom: 10px;
        right: 10px;
      }
    }

    .tickets_item_bottom_price {
      font-size: 16.317px;
      gap: 4px;
      span {
        font-size: 27px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    &::before {
      transform: translateX(-6px);
    }
  }
  .section_tickets {
    padding-top: 88px;
    padding-bottom: 48px;

    .section_tickets_palm {
      top: -200%;
    }
  }
  .tickets_container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 54px;
  }
  .tickets_item {
    width: 100%;
    max-width: 350px;
    padding-top: 15px;
    padding-left: 15px;
  }
  .tickets_item_title {
    font-size: 28px;
  }
  .tickets_item_services {
    margin-top: 12px;
    p {
      font-size: 12px;
    }
  }
  .tickets_item_bottom {
    margin-top: 27px;
  }
  .tickets_item_bottom_price {
    font-size: 14px;
    span {
      font-size: 24px;
    }
  }
  .tickets_item_bottom_buy {
    font-size: 14px;
  }
}
