.section_tickets {
  @include with-devider();
  position: relative;
  &::before {
    height: 204px;
    top: -304px;
  }
  padding-top: 90px;
  .container {
    position: relative;
    z-index: 2;
  }
  padding-bottom: 170px;
}
.section_tickets_palm {
  position: absolute;
  left: 0;
  width: 23vw;
  top: -105%;
  z-index: 1;
}
.tickets_container {
  display: flex;
  gap: 20px;
}
.tickets_item {
  padding-left: 34px;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  border: 1px solid #fff;
}
.tickets_item_title {
  color: #fff;
  font-size: 67px;
  font-family: SF Pro Display;
  font-weight: 500;
}
.tickets_item_services {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    color: #fff;
    font-size: 22px;
    font-family: SF Pro Display;
    font-weight: 300;
    line-height: 160%;
  }
}
.tickets_item_bottom {
  gap: 6.146vw;
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  .tickets_item_bottom_price {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 32.522px;
    font-family: SF Pro Display;
    font-weight: 300;
    text-transform: uppercase;
    span {
      font-weight: 700;
      font-size: 56px;
    }
  }
  .tickets_item_bottom_buy {
    // min-width: 50%;
    height: 136px;
    position: relative;
    right: -1px;
    bottom: -1px;
    flex-grow: 1;
    color: #000;
    padding-left: 62px;
    font-size: 32.522px;
    font-family: SF Pro Display;
    font-weight: 600;
    position: relative;
    background-color: $accent-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $blue;
    }
    .tickets_item_arrow {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .section_tickets_palm {
    top: -85%;
  }
}
@media screen and (max-width: 1440px) {
  .section_tickets {
    &::before {
      height: 154px;
      top: -154px;
    }
    padding-top: 140px;
    padding-bottom: 130px;
    .section_tickets_palm {
      top: -80%;
    }
  }
  .tickets_container {
    gap: 15px;
  }
  .tickets_item {
    padding-top: 25.67px;
    padding-left: 25.67px;
  }
  .tickets_item_title {
    font-size: 50.214px;
  }
  .tickets_item_services {
    margin-top: 31px;
    gap: 8px;
    p {
      font-size: 16.488px;
      line-height: 157%;
    }
  }
  .tickets_item_bottom {
    margin-top: 40.5px;

    .tickets_item_bottom_buy {
      padding-left: 46.41px;
      font-size: 24.374px;

      height: 101px;

      .tickets_item_arrow {
        width: 26.66px;
        height: 35.55px;
        bottom: 16px;
        right: 16px;
      }
    }

    .tickets_item_bottom_price {
      font-size: 24.374px;
      gap: 6px;
      span {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_tickets {
    &::before {
      height: 124px;
      top: -124px;
    }
    padding-top: 90px;
    padding-bottom: 90px;
    .section_tickets_palm {
      top: -90%;
    }
  }
  .tickets_container {
    gap: 9px;
  }
  .tickets_item {
    padding-top: 17px;
    padding-left: 17px;
  }
  .tickets_item_title {
    font-size: 33.614px;
  }
  .tickets_item_services {
    margin-top: 21px;
    gap: 6px;
    p {
      font-size: 11.038px;
      line-height: 157%;
    }
  }
  .tickets_item_bottom {
    margin-top: 26px;

    .tickets_item_bottom_buy {
      padding-left: 31px;
      font-size: 16.317px;

      height: 68px;

      .tickets_item_arrow {
        width: 18px;
        height: 24px;
        bottom: 10px;
        right: 10px;
      }
    }

    .tickets_item_bottom_price {
      font-size: 16.317px;
      gap: 4px;
      span {
        font-size: 27px;
      }
    }
  }
}
