.section_where {
  @include with-devider();
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  padding-top: 220px;
  padding-bottom: 90px;
}
.section_where_palm {
  position: absolute;
  right: 0;
  top: -10%;
  width: 15.88vw;
}
.section_where_content {
  padding-bottom: 74px;
  padding-top: 50px;
}
.section_where_left_main {
  display: flex;
  justify-content: space-between;
}
.section_where_title {
  @include section-title();
  margin-bottom: 63px;
}
.section_where_edition {
  width: 255px;
  height: 46px;
}
.section_where_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_where_left_subscription {
  margin-top: 78px;

  color: #fff;
  font-size: 33px;
  font-family: SF Pro Display;
  font-weight: 300;
  line-height: 90%;
}
.section_where_left_bottom {
  display: flex;
  gap: 20px;

  img {
    cursor: pointer;
  }
}
.section_where_right_map {
  width: 405px;
  height: 741px;
}

@media screen and (max-width: 1440px) {
  .section_where {
    padding-top: 165px;
    padding-bottom: 67px;
  }
  .section_where_content {
    padding-top: 55px;
  }
  .section_where_edition {
    width: 194px;
    height: 35px;
  }
  .section_where_left_subscription {
    font-size: 25.047px;
    margin-top: 59px;
  }
  .section_where_right_map,
  .section_where_right_map iframe {
    width: 307px;
    height: 562px;
  }
  .section_where_left_bottom {
    gap: 16px;

    img {
      width: 200px;
      height: 146px;
    }
  }
  .section_where_content {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 1024px) {
  .section_where {
    padding-top: 110px;
    padding-bottom: 45px;
  }
  .section_where_content {
    padding-top: 25px;
  }
  .section_where_edition {
    width: 130px;
    height: 23px;
  }
  .section_where_left_subscription {
    font-size: 16.767px;
    margin-top: 40px;
  }
  .section_where_right_map,
  .section_where_right_map iframe {
    width: 206px;
    height: 376px;
  }
  .section_where_left_bottom {
    gap: 11px;

    img {
      width: 134px;
      height: 98px;
    }
  }
  .section_where_content {
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 768px) {
  .section_where {
    padding-top: 88px;
    padding-bottom: 40px;
  }
  .section_where_title {
    margin-bottom: 51px;
  }
  .section_where_edition {
    width: 80px;
    height: 14px;
  }
  .section_where_left_main {
    flex-direction: column;
    gap: 23px;
  }
  .section_where_left {
    background-image: url(../../dist/assets/images/where-section/bg.webp);
    background-size: cover;
    padding: 0 $container-margin;
  }
  .section_where_left_subscription {
    margin-top: 15.5px;
    font-size: 12px;
    line-height: 6.204px;
  }
  .section_where_left_bottom {
    margin-top: 151px;
    gap: 10px;
    img {
      width: 28.2vw;
      height: auto;
    }
  }
  .section_where_content {
    background-image: none !important;

    .container {
      margin: 0;
      width: 100%;
    }
  }
  .section_where_right {
    padding: 0 $container-margin;
    width: 100%;
  }
  .section_where_right_map,
  .section_where_right_map iframe {
    width: 100%;
    height: 143.589vw;
  }
}
