.section_where {
  @include with-devider();
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  padding-top: 310px;
  &::before {
    height: 204px;
  }
}
.section_where_palm {
  position: absolute;
  right: 0;
  top: -10%;
  width: 15.88vw;
}
.section_where_content {
  padding-bottom: 74px;
  padding-top: 50px;
}
.section_where_left_main {
  display: flex;
  justify-content: space-between;
}
.section_where_title {
  @include section-title();
  margin-bottom: 63px;
}
.section_where_edition {
  width: 255px;
  height: 46px;
}
.section_where_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_where_left_subscription {
  margin-top: 78px;

  color: #fff;
  font-size: 33px;
  font-family: SF Pro Display;
  font-weight: 300;
  line-height: 90%;
}
.section_where_left_bottom {
  display: flex;
  gap: 20px;

  img {
    cursor: pointer;
  }
}
.section_where_right_map {
  width: 405px;
  height: 741px;
}

@media screen and (max-width: 1440px) {
  .section_where {
    padding-top: 247px;
    &::before {
      height: 154px;
    }
  }
  .section_where_content {
    padding-top: 37px;
  }
  .section_where_edition {
    width: 194px;
    height: 35px;
  }
  .section_where_left_subscription {
    font-size: 25.047px;
    margin-top: 59px;
  }
  .section_where_right_map,
  .section_where_right_map iframe {
    width: 307px;
    height: 562px;
  }
  .section_where_left_bottom {
    gap: 16px;

    img {
      width: 200px;
      height: 146px;
    }
  }
  .section_where_content {
    padding-bottom: 56px;
  }
}
