@keyframes blur-animated {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.dynamic_images {
  transition: opacity 2s ease;
}
.blur_animated {
  animation-name: blur-animated;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.section_why {
  padding-top: 240px;
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
  z-index: 2;
  @include with-devider();
}
.section_why__ellipse_left,
.section_why__ellipse_right,
.section_why__plant,
.section_why_ellipse_blue {
  position: absolute;
}
.section_why__ellipse_left {
  background: rgba(0, 170, 201, 0.12);
  transform: translateX(-50%) translateY(-50%);
  filter: blur(264px);
  top: 30%;
}
.section_why__ellipse_left,
.section_why__ellipse_right {
  z-index: 1;
  width: 73.59vw;
  height: 73.59vw;
  // display: none;
}
.section_why__ellipse_right {
  right: 0;
  top: 15%;
}
.section_why_ellipse_blue {
  bottom: 7%;
  right: -30%;
  border-radius: 1239px;
  background: rgba(0, 170, 201, 0.12);
  filter: blur(231.49044799804688px);
  height: 50.729vw;
  width: 64.53vw;
}
.section_why_cases_wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-top: 103px;
}
.section_why_cases_container {
  display: flex;
  align-items: flex-start;
  gap: 2.24vw;
}

.section_why_cases_container:nth-child(2n) {
  margin-right: $container-margin;
  flex-direction: row-reverse;

  .section_why_cases_text {
    align-items: flex-end;

    .section_why_cases_text_title,
    .section_why_cases_text_text {
      text-align: right;
    }
  }
}
.section_why_cases_container:nth-child(2n + 1) {
  margin-left: $container-margin;
  flex-direction: row;
}
.section_why_cases_text {
  display: flex;
  flex-direction: column;
  gap: 20px;

  min-width: 27.34vw;
  max-width: 27.34vw;
}
.section_why_cases_text_text {
  color: #fff;
  font-size: 1.24583333vw;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}
.section_why_cases_text_title {
  color: $blue;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4020833333vw;
  line-height: 140%;
}
.section_why_cases_image_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.56vw;

  img {
    min-width: 22.656vw;
    max-width: 22.656vw;
    height: 15.1vw;
  }
}

.section_why_title {
  @include section-title();
}
.section_why_subscription {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 120%;

  color: #ffffff;
  margin-top: 93px;
  max-width: 68vw;
}
.section_why_subscription > span {
  font-weight: 600;
}
.section_why_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 72.7vw;
  margin-top: 93px;
  p {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;

    color: #ffffff;

    span {
      font-weight: 600;
      color: $blue;
    }
  }
}
.section_why_ready_text {
  margin-top: 120px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 120%;

  color: #ffffff;
}
.section_why_ready_text span {
  font-weight: 600;
  text-align: right;
}
.section_why_event {
  display: flex;
  margin-top: 60px;
}

.section_why_event_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid #fff;
  height: 8.697916vw;
  &:first-child {
    width: 29.84375vw;
    text-align-last: left;
    border-right: none;
    .section_why_event_item_logo {
      margin-right: 6px;

      img {
        width: 10.677vw;
        height: 3.802vw;
      }
    }
    .section_why_event_item_text {
      color: #fff;
      font-size: 1.145833vw;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  &:nth-child(2) {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    width: 25.72916vw;
    color: #0f011f;
    position: relative;
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap;

    .section_why_event_item_arrow {
      position: absolute;
      bottom: 1.0416vw;
      right: 1.0416vw;
      cursor: pointer;
      width: 1.927vw;
      height: 1.927vw;
    }
  }
  &:nth-child(2):hover {
    background-color: $blue;
  }
  &:nth-child(3) {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 2.265625vw;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    border-left: none;
    width: 32.5vw;
  }
  span {
    font-weight: 600;
    color: #0f011f;
  }
  .section_why_event_item_inner {
    max-width: 251px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 120%;
  }
}
.section_why_carousel_container {
  position: relative;
  padding: 0 115px;
  margin-top: 120px;
}
.why_carousel_btn_next,
.why_carousel_btn_prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
}
.why_carousel_btn_prev {
  left: 0;
}
.why_carousel_btn_next {
  right: 0;
}

@media screen and (max-width: 1440px) {
  .section_why {
    padding-top: 180px;
    padding-bottom: 60px;
  }
  .section_why_subscription {
    font-size: 37.95px;
    margin-top: 62px;
  }
  .section_why_text {
    margin-top: 63px;
    gap: 27px;
    p {
      font-size: 19px;
    }
  }
  .section_why_ready_text {
    font-size: 38px;
    margin-top: 61px;
  }
  .section_why_carousel_container {
    padding: 0 93px;
    margin-top: 62px;
  }
  .why_carousel_btn_prev,
  .why_carousel_btn_prev svg,
  .why_carousel_btn_next,
  .why_carousel_btn_next svg {
    width: 57px;
  }
  .section_why_event {
    margin-top: 175px;
  }
  .section_why_event_item {
    .section_why_event_item_arrow {
      width: 26.767px;
      height: 27.758px;
      bottom: 16px;
      right: 16px;
    }
    .section_why_event_item_inner {
      font-size: 18.811px;
    }

    &:first-child {
      padding: 40px 50px;
    }
    &:nth-child(2) {
      padding: 40px 50px;
      font-size: 18.811px;
    }
    &:nth-child(3) {
      padding: 27px 60px;
      font-size: 60.195px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_why {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .section_why_subscription {
    font-size: 25.404px;
    margin-top: 41px;
  }
  .section_why_text {
    margin-top: 43px;
    gap: 19px;
    p {
      font-size: 12.702px;
    }
  }
  .section_why_ready_text {
    font-size: 25.404px;
    margin-top: 40px;
  }
  .section_why_carousel_container {
    padding: 0 62px;
    margin-top: 42px;
  }
  .why_carousel_btn_prev,
  .why_carousel_btn_prev svg,
  .why_carousel_btn_next,
  .why_carousel_btn_next svg {
    width: 38px;
  }
  .section_why_event {
    margin-top: 116px;
  }
  .section_why_event_item {
    .section_why_event_item_arrow {
      width: 18px;
      height: 19px;
      bottom: 10px;
      right: 10px;
    }
    .section_why_event_item_inner {
      font-size: 12.592px;
    }

    &:first-child {
      padding: 27px 35px;
    }
    &:nth-child(2) {
      padding: 40px 33px;
      font-size: 12.592px;
    }
    &:nth-child(3) {
      padding: 19px 40px;
      font-size: 40.296px;
    }
  }
}
